<h1>Posts</h1>

<% @posts.each do |post| %>
  <div class="individual-post">
    <%= image_tag post.image.url(:medium) %>
    <br><br>
    <%= post.description %>
    <br><br>
    <%= link_to 'View Post', post_path(post) , :class => "link-class"%>
    <%= link_to 'Edit Post', edit_post_path(post) , :class => "link-class" %>
    <%= link_to 'Delete Post', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } , :class => "link-class"%>

  </div>
  <br><br>

  <br>
<% end %>
